@import "_variables.scss";

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  background-color: #575757;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 20px #303030);
}

.header {
  color: $primary-color;
  font-size: 150%;
  text-align: center;
}

.content {

}
