ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  display: block;
  margin: 0;
  padding: 15px;
  background-color: #252525;
  filter: drop-shadow(5px 5px 5px #303030);
}

.correct {
  background-color: #267A2C;
}

.incorrect-but-selected {
  background-color: #F14913;
}

.correct-but-not-selected {
  background-color: #F1B113;
}
