@import "_variables.scss";

body {
  background: #002650;
  color: #D8D8D8;
  font: 100% Aptos, sans-serif;
  margin:0 auto;
}

p {
  line-height: 1.8;
}

button {
  font-size: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: $primary-color;
  filter: drop-shadow(5px 5px 5px #303030);
}
