<h1>Impressum</h1>

<markdown ngPreserveWhitespaces>
  Andreas Nägeli

  Waldseemüller-Str. 10
  79227 Schallstadt
  Germany

  andr.naegeli&#64;gmail.com

  Bugs und Feature-Wünsche sammeln wir gerne auf unserer [GitHub page](https://github.com/ti8m-naegeli/my-skills.dev).
</markdown>

<h1>Datenschutz</h1>

<markdown>
  Diese Anwendung wird beim ersten Aufruf vom Server heruntergeladen und anschließend ausschließlich lokal ausgeführt.
  Daher werden keine Daten zur Verwendung der Anwendung erfasst oder an Dritte weitergegeben. Beim einmaligen
  Abruf der Anwendung vom Server wird Ihre IP-Adresse in den Log-Files des Webservers bis zu dessen nächsten
  Neustart vermerkt.
</markdown>
